@model Club

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">Fique por dentro de todas as informações
      @* <small>Secondary Text</small> *@
    </h1>
  
    <!-- Portfolio Item Row -->
    <div class="row">
  
      <div class="col-md-8">
        <img class="img-fluid" src="@Model.Image" alt="">
      </div>
  
      <div class="col-md-4">
        <h3 class="my-3">@Model.Title</h3>
        <p>@Model.Description</p>
        <h3 class="my-3">Localização</h3>
        <ul>
          <li>@Model.Address.City</li>
          <li>@Model.Address.State</li>
          <li>@Model.ClubCategory</li>
        </ul>
      </div>
  
    </div>
    <!-- /.row -->
  
